* {
    margin: 0 auto;
}

body {
    background-color: rgba(192, 197, 149, 0.822);
}

.headline {
    padding: 30px;
    margin-bottom: 25px;
    background-color: rgba(73, 163, 37, 0.822);
}

#h1-headline {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5rem;
}


#headline-img {
    width: 170px;
    height: 150px;
    border-radius: 50%;
    border: red solid 5px;
}

.cat {
    width: 85%;
    height: 220px;
    border-radius: 10px;
}

.cat-container {
    margin-bottom: 45px;
}
