* {
    margin: 0 auto;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: rgba(192, 197, 149, 0.822);
}

.headline {
    padding: 20px;
    margin-bottom: 25px;
    background-color: rgba(73, 163, 37, 0.822);
    display: flex;
    align-items: center;
}

#h1-headline {
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*font-size: 2rem;*/
}

#headline-img {
    width: 25%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: red solid 5px;
}

/*
.d-flex {
    gap: 13px;
}
*/

.cat {
    width: 100%;
    height: 220px;
    border-radius: 5px;
}

.cat-container {
    margin-bottom: 45px;
}

/*---------------------------CAROUSEL--------------------------------*/

#carousel-cat-gallery {
    width: 70%;
    height: 300px;
}
